{% extends base_template %}
{% load static from staticfiles %}

{% block css %}
<link href="{% static 'css/sweetalert2.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/dialog.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="form-element-area">
    <div class="container">
        {% if change_worker_password %}
            <div class="bsc-tbl">
                    <table class="table table-sc-ex">
                        <tbody>
                            <thead>
                                <th>Username</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Designation</th>
                            </thead>
                            <tr>
                                <td>{{worker.user.username}}</td>
                                <td>{{worker.user.first_name}}</td>
                                <td>{{worker.user.last_name}}</td>
                                <td>{{worker.user.email}}</td>
                                <td>{{worker.designation | upper}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        {% endif %}
        <form id="change-password" method="POST">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-element-list">
                        <div class="basic-tb-hd">
                            <h2>Change Password</h2>
                            <!-- <p>Text Inputs with different sizes by height and column.</p> -->
                        </div>
                        <!-- <div class="cmp-tb-hd bcs-hd">
                            <h2>Basic Example</h2>
                            <p>Place one add-on or button on either side of an input. You may also place one on both sides of an input. </p>
                        </div> -->
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group ic-cmp-int">
                                    <div class="form-ic-cmp">
                                        <i class="notika-icon notika-star"></i>
                                    </div>
                                    <div class="nk-int-st">
                                        <input id="password1" name="password1" type="password" class="form-control" placeholder="New Password">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group ic-cmp-int">
                                    <div class="form-ic-cmp">
                                        <i class="notika-icon notika-star"></i>
                                    </div>
                                    <div class="nk-int-st">
                                        <input name="password2" type="password" class="form-control" placeholder="Confirm Password">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group ic-cmp-int float-lb form-elet-mg">
                                <div class="nk-int-st">
                                    {% csrf_token %}
                                    <button class="btn btn-success notika-btn-success">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.0/additional-methods.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script> 
    <script>
        $(function(){
            $.validator.addMethod('strongPassword', function(value, element){
                return this.optional(element) 
                || value.length >= 8
                && /\d/.test(value)
                && /[a-z]/i.test(value)
            },
            'Your password must atleast 8 characters with atleast one number included'
            );
            $("#change-password").validate({
                debug: true,
                rules: {
                    password1: {
                        strongPassword : true,
                    },
                    password2: {
                        required : true,
                        equalTo : "#password1",
                    }
                },
                submitHandler: function(form){
                    form_data = $("#change-password").serialize();
                    $.ajax({
                        type : "POST",
                        url : window.location.href,
                        data : form_data,
                        dataType : 'text',
                        success : function(response){
                            if(response=="change_worker_password"){
                                swal({
                                title: "{{worker.user.first_name}}"+"'s Password has been successfully reseted",
                                text: "",
                                type: "success"
                                }).then(function() {
                                // Redirect the user
                                window.location.href = "/custom-admin/workers/";
                                }); 
                            }
                            else{
                                swal({
                                title: "Your Password has been successfully Changed",
                                text: "Login again with your new password",
                                type: "success"
                                }).then(function() {
                                // Redirect the user
                                window.location.href = "/";
                                }); 
                            }
                                            
                        },
                        error: function(xhr, status, error){
                            swal({
                                title: "Error occurred while trying to change password",
                                text: "",
                                type: "error"
                                }).then(function() {
                                // Redirect the user
                                window.location.href = xhr.responseText;
                            });
                        },               
                    //Your code for AJAX Ends
                    }); 
                    return false;
                },    
            });
        });
    </script>
    <script src="{% static 'js/sweetalert2.min.js' %}"></script>
{% endblock %}