{% load static from staticfiles %}
<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
    ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.transitions.css' %}">
    <!-- meanmenu CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
    <!-- jvectormap CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'css/jquery-jvectormap-2.0.3.css' %}">
    <!-- notika icon CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'css/notika-custom-icon.css' %}">
    <!-- wave CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'css/waves.min.css' %}">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/button.css' %}">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- modernizr JS
        ============================================ -->
    <link href="{% static 'css/fontawesome-all.min.css' %}" rel="stylesheet" />
    {% block css %}
    {% endblock %}
            
    <script src="{% static 'js/modernizr-2.8.3.min.js' %}" type="text/javascript"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Start Header Top Area -->
    <div id="html-body" class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="logo-area">
                        <h2 style="color:white">Pharmacy</h2>
                        <!-- <a href="#"><img style="height:30px; width:30px" src="{% static 'img/admin-logo.ico' %}" alt="" /></a> -->
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="header-top-menu">
                        <ul class="nav navbar-nav notika-top-nav">
                            <li class="nav-item dropdown">
                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><span><i class="notika-icon notika-search"></i></span></a>
                                <div role="menu" class="dropdown-menu search-dd animated flipInX">
                                    <div class="search-input">
                                        {% csrf_token %}
                                        <i class="notika-icon notika-left-arrow"></i>
                                        <input placeholder="{{searchbar_placeholder}}" type="text" />
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><span><i class="notika-icon notika-mail"></i></span></a>
                                <div role="menu" class="dropdown-menu message-dd animated zoomIn">
                                    <div class="hd-mg-tt">
                                        <h2>Messages</h2>
                                    </div>
                                    <!--<div class="hd-message-info">
                                        <a href="#">
                                            <div class="hd-message-sn">
                                                <div class="hd-message-img">
                                                    <img src="img/post/1.jpg" alt="" />
                                                </div>
                                                <div class="hd-mg-ctn">
                                                    <h3>David Belle</h3>
                                                    <p>Cum sociis natoque penatibus et magnis dis parturient montes</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="hd-message-sn">
                                                <div class="hd-message-img">
                                                    <img src="img/post/2.jpg" alt="" />
                                                </div>
                                                <div class="hd-mg-ctn">
                                                    <h3>Jonathan Morris</h3>
                                                    <p>Cum sociis natoque penatibus et magnis dis parturient montes</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="hd-message-sn">
                                                <div class="hd-message-img">
                                                    <img src="img/post/4.jpg" alt="" />
                                                </div>
                                                <div class="hd-mg-ctn">
                                                    <h3>Fredric Mitchell</h3>
                                                    <p>Cum sociis natoque penatibus et magnis dis parturient montes</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="hd-message-sn">
                                                <div class="hd-message-img">
                                                    <img src="img/post/1.jpg" alt="" />
                                                </div>
                                                <div class="hd-mg-ctn">
                                                    <h3>David Belle</h3>
                                                    <p>Cum sociis natoque penatibus et magnis dis parturient montes</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="hd-message-sn">
                                                <div class="hd-message-img">
                                                    <img src="img/post/2.jpg" alt="" />
                                                </div>
                                                <div class="hd-mg-ctn">
                                                    <h3>Glenn Jecobs</h3>
                                                    <p>Cum sociis natoque penatibus et magnis dis parturient montes</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>-->
                                    <div class="hd-mg-va">
                                        <a href="#">View All</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item nc-al"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><span><i class="notika-icon notika-alarm"></i></span><div class="spinner4 spinner-4"></div><div class="ntd-ctn"><span>3</span></div></a>
                                <div role="menu" class="dropdown-menu message-dd notification-dd animated zoomIn">
                                    <div class="hd-mg-tt">
                                        <h2>Notification</h2>
                                    </div>
                                    <!-- <div class="hd-message-info">
                                        <a href="#">
                                            <div class="hd-message-sn">
                                                <div class="hd-message-img">
                                                    <img src="img/post/1.jpg" alt="" />
                                                </div>
                                                <div class="hd-mg-ctn">
                                                    <h3>David Belle</h3>
                                                    <p>Cum sociis natoque penatibus et magnis dis parturient montes</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="hd-message-sn">
                                                <div class="hd-message-img">
                                                    <img src="img/post/2.jpg" alt="" />
                                                </div>
                                                <div class="hd-mg-ctn">
                                                    <h3>Jonathan Morris</h3>
                                                    <p>Cum sociis natoque penatibus et magnis dis parturient montes</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="hd-message-sn">
                                                <div class="hd-message-img">
                                                    <img src="img/post/4.jpg" alt="" />
                                                </div>
                                                <div class="hd-mg-ctn">
                                                    <h3>Fredric Mitchell</h3>
                                                    <p>Cum sociis natoque penatibus et magnis dis parturient montes</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="hd-message-sn">
                                                <div class="hd-message-img">
                                                    <img src="img/post/1.jpg" alt="" />
                                                </div>
                                                <div class="hd-mg-ctn">
                                                    <h3>David Belle</h3>
                                                    <p>Cum sociis natoque penatibus et magnis dis parturient montes</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="hd-message-sn">
                                                <div class="hd-message-img">
                                                    <img src="img/post/2.jpg" alt="" />
                                                </div>
                                                <div class="hd-mg-ctn">
                                                    <h3>Glenn Jecobs</h3>
                                                    <p>Cum sociis natoque penatibus et magnis dis parturient montes</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div> -->
                                    <div class="hd-mg-va">
                                        <a href="#">View All</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><span><i class="notika-icon notika-menus"></i></span><div class="spinner4 spinner-4"></div><div class="ntd-ctn"><span>2</span></div></a>
                                <div role="menu" class="dropdown-menu message-dd task-dd animated zoomIn">
                                    <div class="hd-mg-tt">
                                        <h2>Tasks</h2>
                                    </div>
                                    <!-- <div class="hd-message-info hd-task-info">
                                        <div class="skill">
                                            <div class="progress">
                                                <div class="lead-content">
                                                    <p>HTML5 Validation Report</p>
                                                </div>
                                                <div class="progress-bar wow fadeInLeft" data-progress="95%" style="width: 95%;" data-wow-duration="1.5s" data-wow-delay="1.2s"> <span>95%</span>
                                                </div>
                                            </div>
                                            <div class="progress">
                                                <div class="lead-content">
                                                    <p>Google Chrome Extension</p>
                                                </div>
                                                <div class="progress-bar wow fadeInLeft" data-progress="85%" style="width: 85%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>85%</span> </div>
                                            </div>
                                            <div class="progress">
                                                <div class="lead-content">
                                                    <p>Social Internet Projects</p>
                                                </div>
                                                <div class="progress-bar wow fadeInLeft" data-progress="75%" style="width: 75%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>75%</span> </div>
                                            </div>
                                            <div class="progress">
                                                <div class="lead-content">
                                                    <p>Bootstrap Admin</p>
                                                </div>
                                                <div class="progress-bar wow fadeInLeft" data-progress="93%" style="width: 65%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>65%</span> </div>
                                            </div>
                                            <div class="progress progress-bt">
                                                <div class="lead-content">
                                                    <p>Youtube App</p>
                                                </div>
                                                <div class="progress-bar wow fadeInLeft" data-progress="55%" style="width: 55%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>55%</span> </div>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="hd-mg-va">
                                        <a href="#">View All</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><span><i class="notika-icon notika-chat"></i></span></a>
                                <div role="menu" class="dropdown-menu message-dd chat-dd animated zoomIn">
                                    <div class="hd-mg-tt">
                                        <h2>Chat</h2>
                                    </div>
                                    <!-- <div class="search-people">
                                        <i class="notika-icon notika-left-arrow"></i>
                                        <input type="text" placeholder="Search People" />
                                    </div>
                                    <div class="hd-message-info">
                                        <a href="#">
                                            <div class="hd-message-sn">
                                                <div class="hd-message-img chat-img">
                                                    <img src="img/post/1.jpg" alt="" />
                                                    <div class="chat-avaible"><i class="notika-icon notika-dot"></i></div>
                                                </div>
                                                <div class="hd-mg-ctn">
                                                    <h3>David Belle</h3>
                                                    <p>Available</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="hd-message-sn">
                                                <div class="hd-message-img chat-img">
                                                    <img src="img/post/2.jpg" alt="" />
                                                </div>
                                                <div class="hd-mg-ctn">
                                                    <h3>Jonathan Morris</h3>
                                                    <p>Last seen 3 hours ago</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="hd-message-sn">
                                                <div class="hd-message-img chat-img">
                                                    <img src="img/post/4.jpg" alt="" />
                                                </div>
                                                <div class="hd-mg-ctn">
                                                    <h3>Fredric Mitchell</h3>
                                                    <p>Last seen 2 minutes ago</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="hd-message-sn">
                                                <div class="hd-message-img chat-img">
                                                    <img src="img/post/1.jpg" alt="" />
                                                    <div class="chat-avaible"><i class="notika-icon notika-dot"></i></div>
                                                </div>
                                                <div class="hd-mg-ctn">
                                                    <h3>David Belle</h3>
                                                    <p>Available</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="hd-message-sn">
                                                <div class="hd-message-img chat-img">
                                                    <img src="img/post/2.jpg" alt="" />
                                                    <div class="chat-avaible"><i class="notika-icon notika-dot"></i></div>
                                                </div>
                                                <div class="hd-mg-ctn">
                                                    <h3>Glenn Jecobs</h3>
                                                    <p>Available</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div> -->
                                    <div class="hd-mg-va">
                                        <a href="#">View All</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><span><i class="notika-icon notika-arrow-right"></i></span></a>
                                <div role="menu" class="dropdown-menu message-dd chat-dd animated zoomIn">
                                    <div class="hd-mg-tt">
                                        <h2>{{userprofile.user.first_name}}</h2>
                                    </div>
                                    <div class="hd-mg-va">
                                        <a href="{% url 'custom-admin:change-password' %}">Change Password</a>
                                    </div>
                                    <div class="hd-mg-va">
                                        <a href="{% url 'logout' %}">Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top Area -->
    <!-- Mobile Menu start -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                                <li><a data-toggle="collapse" data-target="#demolibra" href="#">Patients</a>
                                    <ul id="demolibra" class="collapse dropdown-header-top">
                                        <li><a href="{% url 'pharmacy:patients' %}">All Patients</a></li>
                                        <li><a href="{% url 'pharmacy:add-patient' %}">Add Patient</a></li>
                                    </ul>
                                </li>
                                <li><a data-toggle="collapse" data-target="#demo" href="#">Prescription</a>
                                    <ul id="demo" class="collapse dropdown-header-top">
                                        {% if patient.patient_id %}
                                        <li><a href="{% url 'pharmacy:new-prescription' patient.patient_id %}">New Prescription</a></li>
                                        {% else %}
                                        <li><a href="{% url 'pharmacy:prescription' 'new' %}">New Prescription</a></li>
                                        {% endif %}
                                        {% if patient.patient_id %}
                                        <li><a href="{% url 'pharmacy:old-prescription' patient.patient_id %}">Previous Prescription</a></li>
                                        {% else %}
                                        <li><a href="{% url 'pharmacy:prescription' 'old' %}">Previous Prescription</a></li>
                                        {% endif %}
                                        {% if patient.patient_id %}
                                        <li><a href="{% url 'pharmacy:medical-history' patient.patient_id %}">Medical History</a></li>
                                        {% else %}
                                        <li><a href="{% url 'pharmacy:examination' 'medical-history' %}">Medical History</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                                <li><a data-toggle="collapse" data-target="#demo2" href="#">Pharmacy</a>
                                    <ul id="demo2" class="collapse dropdown-header-top">
                                        {% if patient.patient_id %}
                                        <li><a href="{% url 'pharmacy:new-prescription' patient.patient_id %}">New Prescription</a></li>
                                        {% else %}
                                        <li><a href="{% url 'pharmacy:prescription' 'new' %}">New Prescription</a></li>
                                        {% endif %}
                                        {% if patient.patient_id %}
                                        <li><a href="{% url 'pharmacy:give-drug' patient.patient_id %}">Give Drugs/Alternatives</a></li>
                                        {% else %}
                                        <li><a href="{% url 'pharmacy:give-drug-search' %}">Give Drugs/Alternatives</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                                <!--<li><a data-toggle="collapse" data-target="#Pagemob" href="#">Pages</a>
                                    <ul id="Pagemob" class="collapse dropdown-header-top">
                                        <li><a href="contact.html">Contact</a>
                                        </li>
                                        <li><a href="invoice.html">Invoice</a>
                                        </li>
                                        <li><a href="typography.html">Typography</a>
                                        </li>
                                        <li><a href="color.html">Color</a>
                                        </li>
                                        <li><a href="login-register.html">Login Register</a>
                                        </li>
                                        <li><a href="404.html">404 Page</a>
                                        </li>
                                    </ul>
                                </li> -->
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu end -->
    <!-- Main Menu area start-->
    <div class="main-menu-area mg-tb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                        {% if active == "patients" %}
                        <li class="active"><a data-toggle="tab" href="#Page"><i class="fas fa-bed"></i> Patients</a>
                        </li>
                        {% else %}
                        <li><a data-toggle="tab" href="#Page"><i class="fas fa-bed"></i> Patients</a>
                        </li>
                        {% endif %}
                        {% if active == "prescription" %}
                        <li><a data-toggle="tab" href="#Forms"><i class="fas fa-capsules"></i> Prescription</a>
                        </li>
                        {% else %}
                        <li><a data-toggle="tab" href="#Forms"><i class="fas fa-capsules"></i> Prescription</a>
                        </li>
                        {% endif %}
                        {% if active == "pharmacy" %}
                        <li><a data-toggle="tab" href="#Pagemob"><i class="fas fa-tablets"></i> Pharmacy</a>
                        </li>
                        {% else %}
                        <li><a data-toggle="tab" href="#Pagemob"><i class="fas fa-tablets"></i> Pharmacy</a>
                        </li>
                        {% endif %}
                    </ul>
                    <div class="tab-content custom-menu-content">
                        {% if active == 'patients' %}
                        <div id="Page" class="tab-pane active notika-tab-menu-bg animated flipInX">
                        {% else %}
                        <div id="Page" class="tab-pane notika-tab-menu-bg animated flipInX">
                        {% endif %}
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="{% url 'pharmacy:patients' %}">All Patient</a>
                                </li>
                                <li><a href="{% url 'pharmacy:add-patient' %}">Add Patient</a>
                            </ul>
                        </div>
                        <!--<div id="Charts" class="tab-pane notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="flot-charts.html">Flot Charts</a>
                                </li>
                                <li><a href="bar-charts.html">Bar Charts</a>
                                </li>
                                <li><a href="line-charts.html">Line Charts</a>
                                </li>
                                <li><a href="area-charts.html">Area Charts</a>
                                </li>
                            </ul>
                        </div> -->
                        {% if active == 'prescription' %}
                        <div id="Forms" class="tab-pane active notika-tab-menu-bg animated flipInX">
                        {% else %}
                        <div id="Forms" class="tab-pane notika-tab-menu-bg animated flipInX">
                        {% endif %}
                            <ul class="notika-main-menu-dropdown">
                                {% if patient.patient_id %}
                                <li><a href="{% url 'pharmacy:new-prescription' patient.patient_id %}">New Prescription</a>
                                </li>
                                {% else %}
                                <li><a href="{% url 'pharmacy:prescription' 'new' %}">New Prescription</a>
                                </li>
                                {% endif %}
                                {% if patient.patient_id %}
                                <li><a href="{% url 'pharmacy:old-prescription' patient.patient_id %}">Previous Prescription</a>
                                </li>
                                {% else %}
                                <li><a href="{% url 'pharmacy:prescription' 'old' %}">Previous Prescription</a>
                                </li>
                                {% endif %}
                                {% if patient.patient_id %}
                                <li><a href="{% url 'pharmacy:medical-history' patient.patient_id %}">Medical History</a>
                                </li>
                                {% else %}
                                <li><a href="{% url 'pharmacy:examination' 'medical-history' %}">Medical History</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                        {% if active == 'pharmacy' %}
                        <div id="Pagemob" class="tab-pane active notika-tab-menu-bg animated flipInX">
                        {% else %}
                        <div id="Pagemob" class="tab-pane notika-tab-menu-bg animated flipInX">
                        {% endif %}
                            <ul class="notika-main-menu-dropdown">
                                {% if patient.patient_id %}
                                <li><a href="{% url 'pharmacy:new-prescription' patient.patient_id %}">New Prescription</a>
                                </li>
                                {% else %}
                                <li><a href="{% url 'pharmacy:prescription' 'new' %}">New Prescription</a>
                                </li>
                                {% endif %}
                                {% if patient.patient_id %}
                                <li><a href="{% url 'pharmacy:give-drug' patient.patient_id %}">Give Drugs/Alternatives</a>
                                </li>
                                {% else %}
                                <li><a href="{% url 'pharmacy:give-drug-search' %}">Give Drugs/Alternatives</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Menu area End-->
    <div class="breadcomb-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="breadcomb-list">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="breadcomb-wp">
									<div class="breadcomb-icon">
										<i class="{{nav_icon}}"></i>
									</div>
									<div class="breadcomb-ctn">
										<h2>{{main_nav}}</h2>
										<p>{{sub_nav}}</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
								<div class="breadcomb-report">
                                    <h2>{{client.name | upper}}</h2>
									<!-- <button data-toggle="tooltip" data-placement="left" title="Download Report" class="btn"><i class="notika-icon notika-sent"></i></button> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    {% block content %}

    {% endblock %}
    <!-- End Realtime sts area-->
    <!-- Start Footer area-->
    <div class="footer-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-copy-right">
                        <p>Copyright © 2018 
. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer area-->
    <!-- jquery
    ============================================ -->
    <script src="{% static 'js/jquery-1.12.4.min.js' %}" type="text/javascript"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
    <!-- wow JS
        ============================================ -->
    <script src="{% static 'js/wow.min.js' %}" type="text/javascript"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="{% static 'js/jquery-price-slider.js' %}" type="text/javascript"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="{% static 'js/owl.carousel.min.js' %}" type="text/javascript"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="{% static 'js/jquery.scrollUp.min.js' %}" type="text/javascript"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="{% static 'js/jquery.meanmenu.js' %}" type="text/javascript"></script>
    <!-- counterup JS
        ============================================ -->
    <script src="{% static 'js/jquery.counterup.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/waypoints.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/counterup-active.js' %}" type="text/javascript"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}" type="text/javascript"></script>
    <!-- jvectormap JS
        ============================================ -->
    <script src="{% static 'js/jquery-jvectormap-2.0.2.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery-jvectormap-world-mill-en.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jvectormap-active.js' %}" type="text/javascript"></script>
    <!-- sparkline JS
        ============================================ -->
    <script src="{% static 'js/jquery.sparkline.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/sparkline-active.js' %}" type="text/javascript"></script>
    <!-- sparkline JS
        ============================================ -->
    <script src="{% static 'js/jquery.flot.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.flot.resize.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/curvedLines.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/flot-active.js' %}" type="text/javascript"></script>
    <!-- knob JS
        ============================================ -->
    <script src="{% static 'js/jquery.knob.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.appear.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/knob-active.js' %}" type="text/javascript"></script>
    <!-- icheck JS
    ============================================ -->
    <script src="{% static 'js/icheck.min.js' %}"></script>
    <script src="{% static 'js/icheck-active.js' %}"></script>
    <!--  wave JS
        ============================================ -->
    <script src="{% static 'js/waves.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/wave-active.js' %}" type="text/javascript"></script>
    <!-- autosize JS
    ============================================ -->
    <script src="{% static 'js/autosize.min.js' %}"></script>
    <!--  todo JS
        ============================================ -->
    <script src="{% static 'js/jquery.todo.js' %}" type="text/javascript"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="{% static 'js/plugins.js' %}" type="text/javascript"></script>
    <!--  Chat JS
        ============================================ -->
    <script src="{% static 'js/moment.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.chat.js' %}" type="text/javascript"></script>
    <!-- main JS
        ============================================ -->
    <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
    <!-- tawk chat JS
        ============================================ -->
    <script src="{% static 'js/tawk-chat.js' %}" type="text/javascript"></script>

    {% block javascript %}
    {% endblock %}
</body>

</html>