{% extends base_template %}
{% load calculate_age %}
{% load static from staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
{% endblock %}
{% block content %}
    <!-- Main Menu area End-->
	<!-- Breadcomb area Start-->
	<div class="breadcomb-area">
        <div class="data-table-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="data-table-list">
                            <div class="basic-tb-hd">
                                <h2>Dimebook Registered Patients</h2>
                                <p>This table contains all patients that have been duely registered to the Dimebook database</p>
                            </div>
                            <div class="table-responsive">
                                <table id="data-table-basic" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Dimebook ID</th>
                                            <th>CNI</th>
                                            <th>Name</th>
                                            <th>Age</th>
                                            <th>Contact Number</th>
                                            <th>Address</th>
                                            <th>Blood Group</th>
                                            <th>Diabetes</th>
                                            <th>Immuno Depressants</th>
                                            <th>Special Cases</th>
                                            <th>Registered By</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for patient in patients %}
                                        <tr>
                                            <td><a href="{% url edit_patient_url patient.patient_id %}">{{patient.patient_id}}</a></td>
                                            <td><a href="{% url edit_patient_url patient.patient_id %}">{{patient.cni}}</a></td>
                                            <td><a href="{% url edit_patient_url patient.patient_id %}">{{patient.name}}</a></td>
                                            <td>{{patient.birth_date|age}}</td>
                                            <td>{{patient.tel}}</td>
                                            <td>{{patient.address}}</td>
                                            <td>{{patient.bloodgroup}}</td>
                                            <td>{{patient.diabetes}}</td>
                                            <td>{{patient.immuno_depressants}}</td>
                                            <td>{{patient.special_cases}}</td>
                                            <td>{{patient.registered_by.first_name}} {{patient.registered_by.last_name}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Dimebook ID</th>
                                            <th>CNI</th>
                                            <th>Name</th>
                                            <th>Contact Number</th>
                                            <th>Country</th>
                                            <th>Region</th>
                                            <th>Address</th>
                                            <th>Blood Group</th>
                                            <th>Diabetes</th>
                                            <th>Immuno Depressants</th>
                                            <th>Special Cases</th>
                                            <th>Registered By</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <!-- Data Table JS
        ============================================ -->
    <script src="{% static 'js/jquery.dataTables.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/data-table-act.js' %}" type="text/javascript"></script>
{% endblock %}