{% for invoice_stat in invoice_stats %}
    <h5>Date: <span>{{invoice_stat.date}}</span></h5>
    <h5>Transaction ID: <span>{{invoice_stat.id | stringformat:"05d"}}</span></h5>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="form-element-list mg-t-30">
                <div class="basic-tb-hd">
                    <h6>TOTAL /FCFA</h6>
                </div>
                <div class="basic-tb-hd">
                    <h4 id="total">{{invoice_stat.total}}</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="form-element-list mg-t-30">
                <div class="basic-tb-hd">
                    <h6>FINAL AMOUNT /FCFA</h6>
                </div>
                <div class="basic-tb-hd">
                    <h4 id="m_final_amount">{{invoice_stat.final_amount}}</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="form-element-list mg-t-30">
                <div class="basic-tb-hd">
                    <h6>DISCOUNT %</h6>
                </div>
                <div class="basic-tb-hd">
                    <h4 id="discount">{{invoice_stat.discount}}</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="form-element-list mg-t-30">
                <div class="basic-tb-hd">
                    <h6>GIVEN AMOUNT /FCFA</h6>
                </div>
                <div class="basic-tb-hd">
                    <h4 id="m_given_amount">{{invoice_stat.given_amount}}</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="form-element-list mg-t-30">
                <div class="basic-tb-hd">
                    <h6>BALANCE /FCFA</h6>
                </div>
                <div class="basic-tb-hd">
                    <h4 id="balance">{{invoice_stat.balance}}</h4>
                </div>
            </div>
        </div>
    </div>
    <br>
    <p></p>

    {% endfor %}